# Directoare și fișiere temporare
node_modules/
venv/
.env
*.log

# Fișiere de sistem
.DS_Store
Thumbs.db

# Fișiere și directoare de configurare IDE
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Fișiere Python temporare
*.pyc
*.pyo
__pycache__/
